<%-include("Partials/header")-%>
<style>
  body{
    background:url('https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=600');
  }
</style>
<link rel="stylesheet" href="/style.css">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home-dashboard">TMS</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <form class="form-inline my-2 my-lg-0" action="/home-dashboard" method="POST">
        <div>
          <a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 30 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg></a>
        </div>
          <!-- <div class="post_btn"><a class="btn btn-dark btn-lg mr-sm-2" href="/Create-post" role="button">Create Post</a></div> -->
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
      </form>
    </div>
  </nav>
  <div class="fr">
    <div class="wr">
      <div class="card">
        <img src="https://media.istockphoto.com/id/1066557736/photo/passionate-about-their-project.jpg?s=612x612&w=0&k=20&c=QD-sh7a57qKNmpsf-_xVI74h-NTJEEWW0S1XrtP6L1U=" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Find Common Slot</h5>
          <p class="card-text">It analyzes the availability of each participant and suggests available time slots where everyone is free to attend.</p>
          <a href="/find_slots" class="btn btn-primary">Find Slot</a>
        </div>
      </div>
      <div class="card">
        <img src="https://media.istockphoto.com/id/1091264928/photo/calendar-app-on-tablet-computer-with-planning-of-the-week-with-appointments-events-tasks-and.jpg?s=612x612&w=0&k=20&c=4W2_K0Wcita3AT-YICkdPTQcPVzpRMv3mGwaFiZlmLs=" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Schedule Meeting</h5>
          <p class="card-text">With the scheduling meeting functionality, users can easily set up and organize meetings with other individuals or groups</p>
          <a href="/schedule" class="btn btn-primary">Schedule</a>
        </div>
      </div>
      <div class="card">
        <img src="https://media.istockphoto.com/id/1217082959/photo/creative-abstract-postal-envelopes-sketch-on-modern-laptop-background-e-mail-and-marketing.jpg?s=612x612&w=0&k=20&c=eZtPEGhYYPXNGZ4Gdt9S-iMxSKrAMd8xe0u40SHkVvg=" class="card-img-top" alt="...">
      
        <div class="card-body">
          <h5 class="card-title">Check Appointments</h5>
          <p class="card-text">Users can view their upcoming appointments and meetings using the check appointments feature. They can see details such as date, time, location ,etc. </p>
          <a href="/check_appointments" class="btn btn-primary">Appointments</a>
        </div>
      </div>
    </div>
    <div class="wr">
      <div class="card">
        <img src="https://media.istockphoto.com/id/1358091848/photo/corporate-data-management-system-and-document-management-system-with-employee-privacy.jpg?s=2048x2048&w=is&k=20&c=MvwrXqq0lmhwsTbSBz82aQHf9VE4f3twiXxFfjH4bj0=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mark Leave</h5>
          <p class="card-text">This functionality allows users to mark their leaves or absences from work or other commitments.They can specify the start and end dates of their leave.</p>
          <a href="/leave" class="btn btn-primary">Mark leave</a>
        </div>
      </div>
      <div class="card">
        <img src="https://media.istockphoto.com/id/1407983911/photo/forex-diagrams-and-stock-market-rising-lines-with-numbers.jpg?s=612x612&w=0&k=20&c=zas1h6LR6v2iCvE7SWnVoZ_s7ZSiboN45UK0d5oMWac=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Statistics</h5>
          <p class="card-text">Users can access statistical data related to their activities, appointments, or meetings using the check statistics feature. </p>
          <a href="/statistics" class="btn btn-primary">Check Statistics</a>
        </div>
      </div>
      <div class="card">
        <img src="https://media.istockphoto.com/id/1263039069/vector/female-patient-chooses-doctor-doctors-team-medical-staff-portraits-online-service-searching.jpg?s=612x612&w=0&k=20&c=qXfs9B7xGmehrAcLJ5ShC8pikLVwvq2FxDV3tvlyIk4=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">The check profile feature enables users to view and manage their personal profiles within the system.They can update their Profile.</p>
          <a href="/profile" class="btn btn-primary">Check Profile</a>
        </div>
      </div>
    </div>
  </div>
  <%-include("Partials/footer")-%>